@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #424242;
  font-family: "Source Sans 3", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
h1 {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
  text-align: left;
  color: #fff;
  box-shadow: 0px 27px 82px 0px #ffae0047;
  box-shadow: 0px 14px 15px 0px #ffae0003;
}
h2 {
  font-size: 68px;
  font-weight: 700;
  line-height: 72.08px;
}
h3 {
  font-size: 57px;
  font-weight: 900;
  line-height: 55.57px;
  text-align: center;
  color: #fff;
  margin-bottom: 62px;
}
h4 {
  font-size: 43px;
  font-weight: 700;
  line-height: 48.16px;
}
h5 {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
}
h6 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
}
/* ---------Header----------- */
.header {
  padding: 7px 0;
}
.middleNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.deliver {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.locationIcon {
  width: 14px;
}

.location {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
}
.address {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
}
.addressWrapper {
  display: flex;
  align-items: center;
  gap: 9px;
}
.addressWrapper p {
  margin: 0;
}
.rightNav {
  display: flex;
  gap: 30px;
  align-items: center;
}
.rightNav a {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #424242;
}
.rightNav .loginBtn {
  display: flex;
  gap: 10px;
  color: #f17228;
  padding: 14px 24px;
  box-shadow: 0px 20px 40px 0px #ffae004a;
  border-radius: 8px;
}
.rightNav a:hover {
  color: #f17228;

  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.rightNav .loginBtn:hover {
  background-color: #f17228;
  color: #fff;
  box-shadow: 0px 25px 50px 0px #f172284a;
  transition: all 0.3s ease;
}

/* ----------Hero Section------------ */
.hero {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 77px);
  background-image: url(../images/HeroBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
}
.heroImgWrapper {
  position: absolute;
  height: 497px;
  width: 497px;
  bottom: -90px;
  right: 0px;
  overflow: hidden;
  z-index: 2;
}
.hero .container {
  position: relative;
  min-height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 13;
}

.headingWrapper {
  position: relative;
  z-index: 111;
  margin-bottom: 32px;
}
.heroFormWrapper {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  z-index: 100;
}
.formButtonWrapper,
.formInputWrapper {
  padding: 24px;
}
.formButtonWrapper ul {
  display: flex;
  gap: 8px;
}

.pickUpBtn button,
.deliveryBtn button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link {
  padding: 10px 24px;
  border-radius: 8px;
}

.nav-pills .nav-link.active {
  background: #f172281a;
}

.nav-pills .nav-link.active {
  color: #f17228;
}
.nav-pills .nav-link {
  background-color: #fff;
  color: #757575;
}
.formButtonWrapper button {
  border: none;
}
.inputBtnWrapper {
  display: flex;
  gap: 16px;
}
.inputWrapper {
  padding: 7px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f5f5f5;
  width: 100%;
}
.inputWrapper input {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  outline: none;
  border: none;
  color: #9e9e9e;
  background: #f5f5f5;
  width: 100%;
}
.heroBtnWrapper button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border: none;
  padding: 21px 48px;
  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
  display: flex;
  white-space: nowrap;
  gap: 10px;
  border-radius: 8px;
}

/* --------Dishes----------- */
.dishes {
  padding: 80px 0;
}
.dishCardWrapper img {
  border-radius: 16px;
}
.dishCardWrapper .imgWrapper {
  margin-bottom: 32px;
  position: relative;
}
.dishCardWrapper h6 {
  font-weight: 700;
  display: inline-block;
}
.daysRemaining {
  padding: 8px 16px;
  background: #f1722833;
  color: #f17228;
}
.offerLabel {
  position: absolute;
  display: flex;
  background: #ffb30e;
  padding: 5px 18px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 16px;
  bottom: 0;
}
.offerLabel h2,
.offerLabel h6 {
  color: #fff;
  margin-bottom: 0;
}
.offerLabel h5 {
  color: #fff;
  margin-bottom: 0;
}
.imgWrapper img {
  width: 100%;
}

/* -----------SearchByFood------------- */
.searchByFood {
  padding: 82px 0 55px 0;
  background-color: #fefaf1;
}

.sliderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

.sliderBtnWrapper {
  display: flex;
  gap: 26px;
}

.btnLeft,
.btnRight {
  position: relative;
  z-index: 19;
  height: 76px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffb30e;
  border-radius: 50%;
  box-shadow: 0px 14px 32px 0px #ffb20e4a;
}
.btnLeft:hover,
.btnRight:hover{
  background:  #f17228;
}

.viewAll {
  display: flex;
  align-items: center;
}

.viewAll button {
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffb30e;
  border: none;
  background-color: #fff;
}
.viewAll button:hover{
  color:  #f17228;
}
.sliderBtns {
  display: flex;
  gap: 16px;
}

.sliderBtns button {
  border: none;
  background-color: transparent;
}

.sliderItem h6 {
  font-weight: 700;
  text-align: center;
}
.foodImgWrapper {
  width: 100%;
  margin-bottom: 26px;
}
.foodImgWrapper img {
  border-radius: 50%;
  width: 100%;
}

.slick-hidden {
  visibility: visible;
  display: block;
}
@media (max-width: 767px) {
  .btnLeft,
  .btnRight {
    height: 50px;
    width: 50px;
  }
  .sliderHeader {
    flex-direction: column;
    gap: 16px;
  }
}

/* -------------FoodFeatuer------------- */
.foodFeatures {
  padding: 130px 0 80px 0;
  background: #feefd0;
}
.featureWrapper {
  margin: 0 auto;
  background-color: #fff;
  padding: 55px;
  border-radius: 46px;
  display: flex;
  box-shadow: 0px 27px 82px 0px #ffae0047;
}
.feature {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.featureImgWrap img {
  width: 100%;
}
.middleBorder {
  border-right: 1px solid #cfcfcf;
}
.featureContentWrap h5 {
  color: #f17228;
}
@media (max-width: 992px) {
  .foodFeatures .col-md-10 {
    width: 100%;
  }
  .featureContentWrap h5 {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .middleBorder {
    border: none;
  }
  .featureWrapper .col-sm-12 {
    margin-bottom: 32px;
  }
}

/* ---------download section--------- */
.download {
  background: linear-gradient(261.24deg, #ffae00 63.85%, #ff8a00 111.94%);
  position: relative;
  z-index: 0;
}

.aboveContent {
  position: absolute;
  z-index: 2;
  top: -82px;
  width: 100%;
  height: 100%;
  background-image: url(../images/downloadBackGround.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.download .container {
  position: relative;
  z-index: 3;
}

.wrapRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.wrapRight h2 {
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.wrapRight p {
  color: #827e7e;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
  text-align: center;
}

.wrapBothBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.wrapBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 12px 14px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0px 20px 40px 0px #ffae004a;
  box-shadow: 0px 5px 10px 0px #ffae0042;
}

.wrapBtn:hover {
  box-shadow: 0px 20px 40px 0px #ffb800;
  box-shadow: 0px 5px 10px 0px #ffb800;
}
.gPlayContent,
.appleContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gPlayContent p,
.appleContent p {
  height: 10px;
  color: #212121;
}

.gPlayContent p {
  text-transform: uppercase;
}

.gPlayContent h6 {
  height: 26px;
}

.appleContent h6 {
  height: 23px;
}
.wrapMobile{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
}

.wrapMobile img{
  width: 100%;
}
@media(max-width:768px){
  .wrapDownload{
    display: flex;
    flex-direction: column-reverse;
}

.wrapRight {
    text-align: center;
  }

.wrapDownload  .col-md-6 {
    width: 100%;
  }
  
}
@media(max-width:576px){
  .wrapBothBtn{
    flex-direction: column;
  }
}

/* =======details section========== */
.details {
  padding: 135px 0 55px 0;
}
.detailsCardWrapper {
  width: 100%;
  display: flex;
  box-shadow: 0px 27px 82px 0px #7c7c7c47;
  margin-bottom: 80px;
  border-radius: 16px;
}
.detailsImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.detailsImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailsContent {
  height: 100%;
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailsContent a,
.cta a {
  padding: 21px 48px;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  box-shadow: 0px 14px 32px 0px #ffb20e4a;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  color: #fff;
}
.detailsContent a:hover,
.cta a:hover,
.heroBtnWrapper button:hover {
  background: linear-gradient(92.84deg, #ff9a00 -47.72%, #ff7000 136.81%);
  box-shadow: 0px 16px 36px 0px #ff8a004a;
}

.rightImg img {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.leftImg img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.contentSpan {
  color: #ff8a00;
}
@media (max-width: 992px) {
  .detailsCardWrapper .col-md-5,
  .detailsCardWrapper .col-md-7 {
    width: 50%;
  }
  .detailsContent a {
    padding: 18px 26px;
  }
}
@media (max-width: 767px) {
  .detailsCardWrapper {
    flex-direction: column-reverse;
  }
  .detailsCardWrapper .col-md-5,
  .detailsCardWrapper .col-md-7 {
    width: 100%;
  }
  .leftImg img,
  .rightImg img {
    border-radius: 16px;
  }
  .middleCard {
    flex-direction: column;
  }
}

/* ----------CTA--------- */
.cta {
  min-height: 400px;
  background-image: url(../images/ctaImg.png);
  background-size: cover;
  background-position: center;
  padding: 75px 0;
  text-align: center;
}

.cta a {
  background: linear-gradient(93.41deg, #f17228 -5.63%, #f15e28 100.8%);
  display: inline-block;
  box-shadow: 0px 14px 32px 0px #ffb20e4a;
}

/* ----------footer------------ */
.footer {
  background-color: #212121;
}
.preFooter {
  padding: 63px 0;
  border-bottom: 2px solid #424242;
}
.preFooter ul {
  padding-left: 0;
}
.preFooter li {
  margin-bottom: 16px;
}
.preFooter a {
  color: #f5f5f5;
}
.preFooter h6 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}

.formHeading {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: #f5f5f5;
  margin-bottom: 40px;
}
.footerIcons {
  display: flex;
  gap: 16px;
  margin-bottom: 43px;
}
.iconWraper img {
  background: #f5f5f5;
  width: 100%;
}
.recieve {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: #bbbbbb;
  margin-bottom: 40px;
}
.footerInputBtn {
  display: flex;
  gap: 16px;
}
.footerFormWrap {
  display: inline-block;
  float: right;
}
.footerInputBtn input,
.footerFormWrap .inputWrapper {
  max-width: 334px;
}
.footerInputBtn button {
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  padding: 21px 24px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
}
.footerInputBtn button:hover{
  background: linear-gradient(93.41deg, #f17228 -5.63%, #f15e28 100.8%);
}
.rights,
.madeWith {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #f5f5f5;
}
.compnyYear,
.themewagon {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #f5f5f5;
}
.leftFooter,
.rightFooter {
  display: flex;
  gap: 10px;
}
.postFooter .container {
  display: flex;
  justify-content: space-between;
}
.postFooter {
  padding: 16px 0 88px 0;
}
.preFooter a:hover{
  color:  #f17228 ;
}
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 54px;
  }
  h2 {
    font-size: 40px;
    line-height: 46px;
  }
  h3 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
  h4 {
    font-size: 28px;
    line-height: 32px;
  }
  h5 {
    font-size: 24px;
    line-height: 28px;
  }
  h6 {
    font-size: 18px;
    line-height: 22px;
  }
  .footerInputBtn button {
    padding: 16px 24px;
  }
}
